.main{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  margin: 7rem 0rem 7rem 0rem;
}
.jumbotron{
  width: 30rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
  margin-left: 1rem;
}
.display-3{
  font-size: 2rem;
}
img{
  height: 13rem;
}
