.main{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  margin: 7rem 0rem 0rem 0rem;
}
.jumbotron{
  color: white;
  background-color: black;
  width: 30rem;
  margin-left: 1rem;
}
.display-3{
  font-size: 2rem;
}
.col-2{
  margin: 2rem auto 2rem auto;
  color: white;
  background-color: red;
  height: 3rem;
}
a{
  color: white;
}
a:hover{
  text-decoration: none;
}
.col-4 h4{
  font-size: 2rem;
}
.col-4 h1{
  font-size: 1.5rem;
}
img{
  height: 13rem;
}
